
style{
  box-sizing: border-box;
}

.task_ledge{
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  height: 40px;
  width: 100%;
  background-color: rgb(220, 220, 220);
}
.logo{
  padding-top: 0px;
  height: 40px;
  width: 180px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png);
  background-origin: padding-box;
}
.add_task{
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 0px;
  border: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(150,150,150);
}
.add_task:hover{
  background-color: grey;
}
.task_order{
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding-bottom: 0px;
}
.tasks {
  background-color: rgb(150, 150, 150);
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  border: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 300px;
  min-width: 100px;
  margin-left: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}
.close_task{
  background-color: rgb(150, 150, 150);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
  width: 35px;
  text-align: center;
  font-size: 20px;
}
.close_task:hover{
  background-color: red;
}
.menu_list{
  flex: auto;
  display: flex;
  justify-content: right;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
  line-height: 38px;
  text-align: center;
  font-size: 20px;
}
.close_that_bitch{
  padding-left: 15px;
  padding-right: 15px;
}
.close_that_bitch:hover{
  background-color: red;
}
.smaller_taller_idk_I_am_tired{
  margin-right: 2px;
  padding-right: 15px;
  padding-left: 15px;
}
.smaller_taller_idk_I_am_tired:hover{
  background-color: grey;
}
.minimise{
  margin-right: 2px;
  padding-left: 15px;
  padding-right: 15px;
}
.minimise:hover {
  background-color: grey;
}
.path_ledge{
  margin-top: 0px;
  width: 100%;
  height: 60px;
  background-color: rgb(230, 230, 230);
}
.search{
  border: 5px;
  border-radius: 5px;
  background-color: white;
}

body{
  margin: 0px;
}
